

tr.user_rows:hover {
		/* background: #FAECC8; */
	}
	
	.admin_page_main {
		margin-top:20px;
		margin-bottom:20px;
		min-height:500px;
	}
	
	.admin_title {
		text-align:center;
	}
	
	.user_rows {
		cursor:pointer
	}
	
	.buttons {
		margin-bottom:40px;
		text-align:center 
	}
	
	
	.adminbutton {
		font-size: 13px;
		color: white;
		border: 1px solid #9c9c9c;
		background: #838943;
		cursor: pointer;
		margin-left: 15px;
		text-align:center
	}
	
	.formLabels {
		font-size: 12px;
		margin-right:10px;
		margin-left:15px;
	}

	text {
		font-size: 12px;
	}








	/* Overlay */

	/* the overlayed element */
	.simple_overlay {
	
		/* must be initially hidden */
		display:none;
		
		/* place overlay on top of other elements */
		z-index:10000;
		
		/* styling */
		/* background-color:#333; */
		background-color:#fff;
		
		width:475px;	
		min-height:400px;
		border:1px solid #666;
		
		/* CSS3 styling for latest browsers */
		-moz-box-shadow:0 0 90px 5px #000;
		-webkit-box-shadow: 0 0 90px #000;	
	}

	/* close button positioned on upper right corner */
	.simple_overlay .close {
		background-image:url(../../images/metadata_overlay/close.png); 
		position:absolute;
		right:-15px;
		top:-15px;
		cursor:pointer;
		height:35px;
		width:35px;
	}
	
	#form_title {
		margin-top:10px;
		text-align:center;
		text-style:bold;
		font-style:italic
	}
	
	.adduser_table {
		font-size:10px
	}
	
	.adduser_properties {
		font-size:12px;
		font-weight:bold;
		margin-left:15px;
	}
	
	.adduser_subheader { 
		margin-left:15px;
		font-size:10px
	}
	




