/************************************************************
 Author:    Feiyi Wang 
 Email:     fwang2@ornl.gov
 Created:   2010-12-07
 Desc:      A simple, no-frill layout
 ************************************************************/

body {
	font-family:Arial, Helvetica, sans-serif;	
	font-size:13px;
	background-color:#f9f6f1;
}

/* style for versions */
.snippetVersion {
	font-size:12px;
	padding-left: 5px;
}


/* style for descriptions */
.snippet {
	font-size:11px;
	padding-left: 5px;
}


/* header and navigation bar */
.headertop {
	/* background:url(../images/header_bg.jpg) top left repeat-x; */
	
	 background: #FFFFFF; 
}

.headerbottom {
	float:left;
	height:47px;	
}

.navbar {
	/*float:left;*/
	height:47px;	
	background-color:#18638a;
}
.nav {
	height:47px;
	color: #333333;
	float:left;
}	
.navbar ul {	
	display: inline;
}	
.navbar ul li {	
	display: inline;
	padding: 0px;	
	list-style: none;	
}
.navbar a {
	float: left;
	height:47px;
	line-height:47px;
	display: block;	
	padding: 0px 10px 0px 10px;	
	text-decoration: none;
	color:#ffffff;
	font-size:16px;
	border-right:2px solid #104d6c;	
}

.navbar a.selected {
	float: left;	
	height:47px;
	line-height:47px;	
	padding: 0px 16px 0px 16px;
	color:#ffffff;
	text-decoration:underline;
	display: block;
	font-size:16px;	
}		
.navbar a:hover {	
	text-decoration:underline;
}
/* end header */


/* footer */
.footer {
	float:left;
	height:55px;
	background-color:#7d5f45; 
}
.footerinner {
	float:left;
	height:34px;
	margin-left:5px;
	margin-top:5px;	
}
.footerleft {
	float:left;
	padding:0px 20px 0px 20px;
	height:34px;
	/* border-right:2px solid #926f51; */
	padding-top:10px;	
}
.footerleft p {
	color:#e8decd;
	font-size:12px;
}
.footerright {
	float:right;
	padding:0px 20px 0px 20px;
	height:34px;
	/* border-left:2px solid #926f51; */
	color:#e8decd;
	padding-top:15px;	
}
.footerright a {
	color:#e8decd;
	font-size:11px;
}
/* end footer */







/* end header info */




/* ESGF Live search */


/* round box */

.round-box {
    margin-bottom:2em; 
}

.round-shadow {
    -moz-box-shadow: 2px 2px 4px #818181;
    -webkit-box-shadow: 2px 2px 4px #818181;
    box-shadow: 2px 2px 4px #818181;    
}

.round-top {
    -moz-border-radius: 6px 6px 0px 0px; /* left-top, right-top, left-bottom, right-bottom */
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

.round-bottom {
	-moz-border-radius: 0px 0px 3px 3px;	
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.round-header {
	padding: 5px;
	background: #18638a;
	font-size: 110%;
	color: white;
	text-align: center;
}
.round-content {
	padding: 5px;
	border-style: solid;	
    border-width:1px;
    /* border-color: #18638a; */
    border-color: #cccccc;
    margin-bottom: 40px;
    
    overflow: auto;
}

/* style the search box */
#query {
	
	
    font-weight: normal;  
    font-size: 1.2em;
    color: #565656;
    border: 1px solid #9c9c9c;  
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;  
    background: url(../images/mag.png) no-repeat;
    text-align: left;
    margin-top: 10px;  
    background-position: 7px 7px;
    margin-right: 15px;
    margin-left: 15px;
    width: 400px;   
}

#query:active {  
    border: 1px solid #0099d4;  
    
}

#search-button {
	font-size: 1.2em;
	border: 1px solid #9c9c9c;
	background: #CCFFFF;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
    margin-top: 10px;  
	/*
	*/
}

.metadata-buttons {
	font-size: 0.9em;
	border: 1px solid #9c9c9c;
	background: #CCFFFF;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
    /* margin-top: 10px; */  
	/*
	*/
}


#search-button:hover {
	background: #00FF00;
}

.search_links {
    margin-top: 5px;  
    font-size: 10px;
}

.right {
	float: right;
}

.left {
	float: left;
}

#home_search-button {
	font-size: 13px;
	color: white;
	border: 1px solid #9c9c9c;
	background: #838943;
	cursor: pointer;
}


.datacart-buttons {
	font-size: 13px;
	color: white;
	border: 1px solid #9c9c9c;
	background: #838943;
	cursor: pointer;
}


#search-results {
	padding-left: 10px;
	border-left: 1px solid #ffccff;
}

#constraints {
	margin-top: 1.5em;
}


/* styles for retrieived records in a search */
div.desc {
}

/* add some space between each search entry */
div.search-entry {
	margin-bottom: 15px;
}

div.actions {
	margin-top: 0px;
	margin-left: 30px;
	margin-bottom: 6px;
}

/* pagination */
#page-navigation {
  /* border-bottom: 1px solid #ffccff; */
}

#pager, #pager-header {
  display: inline;
}
#pager li, .links li {
  list-style-type: none;
  display: inline;
}

.subheader {
	margin-top:15px;
	margin-bottom:10px;
}

/* end pagination */







/* search content - right side */
.l2contentrightbox {
	margin:15px 20px 40px 0px;		
}


/* tagcloud */
/* Note: these are not utilized yet in the alpha release*/

.tagcloud {
  padding: 10px 15px 0;
}
.tagcloud_item {
  float: left;
  display: block;
  margin-right: 4px;
  color: #6998f0;
}
.tagcloud_item:hover {
  color: #f00;
}

a.tagcloud_size_0 {
font-size: 80%;
}
a.tagcloud_size_1 {
font-size: 90%;
}
a.tagcloud_size_2 {
font-size: 100%;
}Rst
a.tagcloud_size_3 {
font-size: 110%;
}
a.tagcloud_size_4 {
font-size: 120%;
}
a.tagcloud_size_5 {
font-size: 130%;
}
a.tagcloud_size_6 {
font-size: 140%;
}
a.tagcloud_size_7 {
font-size: 150%
}
a.tagcloud_size_8 {
font-size: 160%;
}
a.tagcloud_size_9 {
font-size: 170%;
}
a.tagcloud_size_10 {
font-size: 180%;
}

.actionitem {
	margin-right: 6px;
}
/* end search content styling */



/* facet browser */
.facet_title {
	font-weight: bold;
}



/* overlayed components */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../images/metadata_overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:740px;		
	
	
	/* some padding to layout nested elements nicely  */
	padding:35px;
	margin-left: 20px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	
	background-image:url(../images/metadata_overlay/close.png); 
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.facet_browser_title {
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:25px;
}

.facet_title h3 {
	border-bottom:1px solid #000000;
}




/*
.left_table_header {
	/* width: 55%; */
	font-size: 12px;
}
.right_table_header {
	font-size: 12px;
	width:300px;
	float:right;
}


.left_download {
	/* width: 50%; */
	font-size: 8pt;	
	padding-left:20px;
	/* padding-left:20px; */
	/*
	border: 2px solid #666;
	*/
}
*/


.constraints_list {
	/* list-style-image: url(../images/edit-32.png); */
	list-style: none;
	padding-left:25px;
}

#search_options{
	color: black;
	border: 1px dashed #CCA383;
	margin-top: 10px;
	padding-top: 5px;
	padding-left:5px;
	padding-bottom:5px;
	margin-bottom:10px;
}

legend#more_constraints{
	color: #333333;
}

#showConstraintsBox{
	color: black;
	border: 1px solid #333333;/*#CCA383;#333333*/
	padding-top: 5px;
	margin-top: 15px;
}


/* search content - left side */
.l2contentleftbox {
	margin:0px 0px 0px 10px;	
	/*
	border-top:#CCC 1px solid;
	border-left:#CCC 1px solid;	
	border-right:#CCC 1px solid;
	*/		
}


















/* first list option */


.ul_class {
	margin:0;
	padding:0;
	list-style:none;
	/* width: 150px; */

}

.li_class_title {	
	padding: 5px;
	position:relative;
	font-size:14px;
	font-weight:bold;
	background-color: #18638a;	
	color: #ffffff;	
	display: inline-block;
	display: block;	
	text-decoration: none;	
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}


.li_facet_class {
	/* position:relative; */
	border-bottom: 1px solid #ccc;
}

.li_facet_class a {
	display: block;
	text-decoration: none;
	color: #333333;	
	background-color: #fffff;	
	padding: 5px 0px 5px 10px;	
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
}

.li_facet_class:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #838943;
}



.li_facet_value_class {
	position:relative;
	border-bottom: 1px solid #ccc;
}

.li_facet_value_class a {
	display: block;
	text-decoration: none;
	color: #666666;	
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
	padding: 5px 0px 5px 20px;		
}

.li_facet_value_class:hover {
	text-decoration: none;
	color: #333333;
	background-color:#FAECC8;
}

/* end first list option */

/* second list option */

.ul_class2 {
	margin:0;
	padding:0;
	list-style:none;
	/* width: 150px; */

}

.li_class2_title {	
	padding: 5px;
	position:relative;
	font-size:14px;
	font-weight:bold;
	background-color: #18638a;	
	color: #ffffff;	
	display: inline-block;
	display: block;	
	text-decoration: none;	
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}


.li_facet_class2 {
	position:relative;
	border-bottom: 1px solid #ccc;
}

.li_facet_class2 a {
	display: block;
	text-decoration: none;
	color: #333333;	
	background-color: #fffff;	
	padding: 5px 0px 5px 10px;	
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
}

.li_facet_class2:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #838943;
}



.li_facet_value_class2 {
	position:relative;
	border-bottom: 1px solid #ccc;
}

.li_facet_value_class2 a {
	display: block;
	text-decoration: none;
	color: #666666;	
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
	padding: 5px 0px 5px 20px;		
}

.li_facet_value_class2:hover {
	text-decoration: none;
	color: #333333;
	background-color:#FAECC8;
}

.facet_container_class2 {
	overflow-y: auto;
	
	height: 50px; 
}

/* end second list option */


/* third list option */

.ul_class3 {
	margin:0;
	padding:0;
	list-style:none;
	/* width: 150px; */

}

.li_class3_title {	
	padding: 5px;
	position:relative;
	font-size:14px;
	font-weight:bold;
	background-color: #18638a;	
	color: #ffffff;	
	display: inline-block;
	display: block;	
	text-decoration: none;	
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}


.li_facet_class3 {
	position:relative;
	border-bottom: 1px solid #ccc;
}

.li_facet_class3 a {
	display: block;
	text-decoration: none;
	color: #333333;	
	background-color: #fffff;	
	padding: 5px 0px 5px 10px;	
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
}

.li_facet_class3:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #838943;
}



.li_facet_value_class3 {
	position:relative;
	border-bottom: 1px solid #ccc;
}

.li_facet_value_class3 a {
	display: block;
	text-decoration: none;
	color: #666666;	
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-size: 12px;
	font-weight:bold;	
	padding: 5px 0px 5px 20px;		
}

.li_facet_value_class3:hover {
	text-decoration: none;
	color: #333333;
	background-color:#FAECC8;
}

.facet_container_class3 {
	overflow-y: auto;
	
	height: 50px; 
}

/* end third list option */


/* fourth list option */
.ul_class4 {
	margin:0;
	padding:0;
	list-style:none;

}

.li_class4_title {	
	padding: 5px;
	position:relative;
	font-size:14px;
	font-weight:bold;
	background-color: #18638a;	
	color: #ffffff;	
	display: inline-block;
	display: block;	
	text-decoration: none;	
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 210px;
}






/* mainMenu navigator */
	
#mainMenu_navi {
	float:left;
	padding:0px !important;
	margin:0px !important;
	
}


#mainMenu_navi li {
	
	border: 1px solid #ccc;
	width: 210px;
	text-decoration: none;
	color: #333333;	
	background-color: #fffff;
	font-size: 12px;
	font-weight:bold;		
	padding: 5px 0px 5px 10px;	
	list-style:none;
	/*
	clear:both;
	color:#FFFFFF;
	font-size:12px;
	height:30px;
	list-style-type:none;
	padding:10px; 
	width:220px;
	cursor:pointer;
	*/
}


#mainMenu_navi li:hover {
	text-decoration: none;
	background-color: #838943;
}

#mainMenu_navi li.active {
	background-color:#FAECC8;
}


#mainMenu_navi img {
	float:left;
	margin-right:10px;
}



#mainMenu_navi strong {
	display:block;
}


#mainMenu div.navi {
	margin-left:250px;
	cursor:pointer;
}
/**/

/* mainMenu vertical scroll */
	
	
	#mainMenu {
		position:relative;
		overflow:hidden;
		height: 179px;
	}
	
	
	#mainMenuPages {
		position:absolute;
		height:20000em;
	}
	
	
	.mainMenuPage {
		margin-left:0px;
		padding:10px;
		height: 179px;
		background-color:#FAECC8;
		width:220px;
		z-index: 1;
	}
	
	.scrollable {
		position:relative;
		overflow:hidden;
		width: 210px;
		height: 179px;
	}
	
	.scrollable .mainMenuItems {
		width:20000em;
		position:absolute;
		clear:both;
	}
	
	.mainMenuItem {
		float:left;
		cursor:pointer;
		width:200px;
		height:179px;
		padding:10px;
	}


/* end fourth list option */

.error-box {
    /*background: #e5ecf9;*/
    background: #f4f379;
    margin: 0px;
    padding: 5px;
    border: 1px solid #417690;
    font-weight: bold;
    text-align: center;
    color: #FF0000;
}




/* tool tips */
#hint {
	cursor:pointer;
}
	
.tooltip{
	margin:8px;
	padding:8px;
	border:1px solid blue;
	background-color:yellow;
	position: absolute;
	z-index: 2;
	width:275px;
}




