

/*
 --------------------------------
    Map Style
   --------------------------------
 

*/

#geospatial_map_canvas {
	float: left;
	height: 375px;
	width: 400px;
	padding: 10px;
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}




.geospatial_map_info {
	position: absolute;
	margin-left: 420px;
	padding: 10px;
	float: right;
	width: 200px;
	height: 375px;
	border-top: 2px solid #666;
    border-bottom: 2px solid #666;    	
	border-right: 2px solid #666;
}

.geospatial_map_info fieldset{
    border: 1px solid #CCA383; 
    background: #FFE8EF;
    width: 190px;
    padding: 3px;
    margin-bottom: 20px;
}

.geospatial_map_info fieldset legend {
	background: #CCA383;
	padding: 3px;
}

.geospatial_map_info label {
	margin-left: 0px;
}

.geospatial_map_info p.legend {
	font-weight: bold;
	margin-bottom: 6px;
}

.geospatial_map_info p.help {
	font-size: 9px;
}

#geospatial_markers {
	padding-top: 10px;
}

#areaSelected1 {
	padding-top: 10px;
}

#geospatial_circleInputs {
	padding-top: 10px;
}

#geospatial_location {
	margin-bottom: 5px;
}

.geoButton {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#geo-search-button {
	font-size: 1.2em;
	border: 1px solid #9c9c9c;
	background: #CCFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 30px;
	margin-top:20px;
	cursor: pointer;
	float:right
	
}

#geo-search-button:hover {
	background: #00FF00;
}
/**/