


#popupGeospatialSearch h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}









/*
 --------------------------------
    Map Style
   --------------------------------
 

*/
#map_canvas1 {
	float: left;
	height: 350px;
	width: 400px;
	padding: 10px;
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}



.map_info1 {
	position: absolute;
	margin-left: 420px;
	padding: 10px;
	float: right;
	width: 200px;
	height: 350px;
	border-top: 2px solid #666;
    border-bottom: 2px solid #666;    	
	border-right: 2px solid #666;
}

.map_info1 fieldset{
    border: 1px solid #CCA383; 
    background: #FFE8EF;
    width: 190px;
    padding: 3px;
    margin-bottom: 20px;
}

.map_info1 fieldset legend {
	background: #CCA383;
	padding: 3px;
}

.map_info1 label {
	margin-left: 0px;
}

.map_info1 p.legend {
	font-weight: bold;
	margin-bottom: 6px;
}

.map_info1 p.help {
	font-size: 9px;
}

#markers1 {
	padding-top: 10px;
}

#areaSelected1 {
	padding-top: 10px;
}

#circleInputs1 {
	padding-top: 10px;
}

#geoloc1 {
	margin-bottom: 5px;
}


#geo-search-button {
	font-size: 1.2em;
	border: 1px solid #9c9c9c;
	background: #CCFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 30px;
	margin-top:20px;
	cursor: pointer;
	float:right
	
}

#geo-search-button:hover {
	background: #00FF00;
}
/**/