div.jGrowl div.themed {
	font-family: 				"Lucida Grande", "Droid Sans";
	font-size: 					11px;
	background: 				url('../images/themes.png') no-repeat;
	-moz-border-radius: 		0px;
	-webkit-border-radius:	    0px;
	opacity: 					1;
	filter: 					alpha(opacity = 95);
	width: 						308px;
	height: 					76px;
	padding: 					0px;
	overflow: 					hidden;
	border-color: 				#5ab500;
	color: 						#fff;
	position: 					relative;
}

div.jGrowl div.themed div.message {
	padding-top: 8px;
	padding-bottom: 8px;
	
	/* text-shadow: -1px -1px #000; */
	/* line-height:	1em; */
	margin-left:	5.5em;
}

/*
			
div.jGrowl div.themed div.header {
	padding: 		12px 7px 7px 7px;
	padding-left: 	15px;
	padding-right: 15px;
	font-size: 		14px;
	text-shadow: 	-1px -1px #000;
	letter-spacing:0px;
	margin-left: 	6em;
}

*/

img.img-thumb {
	position: 	absolute;
	display: 	block;
	top: 		1.2em;
	left: 		1.2em;
	width: 		34px;
}
				
.separator {
	position: 		absolute;
	background: 	url('../images/separator.png') top right;
	display: 		block;
	height: 		63px;
	width: 			1px;
	top: 			.7em;
	left: 			5em;
}


div.jGrowl div.themed div.close , div.jGrowl div.themed2 div.close {
	display: none;
}