	/* root element for scrollable */
.m_vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */	
	height: 400px;	 
	width: 630px;
	/* border-top:1px solid #ddd; */	
}

/* root element for scrollable items */
.m_items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0px;
}

/* single scrollable item */
.m_item {
	/* border-bottom:1px solid #ddd; */
	margin:10px 0;
	padding:15px;
	font-size:12px;
	min-height:20px;
	clear: both;
}

/* elements inside single item */
.m_item img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}

.m_item h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

.leftsd {
	float:left;	
	padding-right: 20px;
	font-weight: bold;	
	font-size: 14px;
	width: 150px;
}

.rightsd {
	float:left;	
	padding-right: 20px;
	font-size: 12px;
	width: 350px;
}

.rightsd1 {
	float:right;
	width: 70%;
}



#geo_map {
	float:right;
	height:150px;
	width: 45%;
}
#geo_info {
	float:left;
	/* height:100px; */
	width: 20%;
}

.addedMetadataTitle {
	
	font-weight: bold;	
	font-size: 16px;
}


/* the action buttons above the scrollable */
#actions {
	width:630px;
	margin:10px 0 10px 0;	
}

#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}	