
.overlay_title {
	margin: 10px;
}

.overlay_header {
	margin: 0 auto; /* This centers the container DIV on the page */
	margin-bottom: 10px;
}

.overlay_header_title {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 55%;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
}

.overlay_header_buttons {
	float: right;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 40%;
	display: inline;
}




