
.overlay_title {
	/* border: 1px dotted #D3D3D3; */
}

.overlay_header {
	/* border: 1px dotted #D3D3D3; */
}

.overlay_header_title {
	
	color: #539DC2;
	font-size:28px;
	font-weight:700;
	/* border: 1px dotted #D3D3D3; */
	padding-top: 5px;
 	float:left;
 	
	margin-bottom: 10px;
	/* border-bottom: 1px dotted #000000; */
	
	/*float: left;
	margin-top: 10px;
	width: 45%;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	*/
}

.overlay_border {
	width:95%;
	border-bottom: 1px dotted #000000;
	margin-top: 10px;
	margin-bottom: 10px;
	clear:both;
}

.overlay_header_buttons {
	
	/* border: 1px dotted #D3D3D3; */
	padding-top: 10px;
	padding-right: 10px;
	float:right;
	/*
	float: right;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 50%;
	display: inline;
	border: 1px dotted #D3D3D3;
	*/
}

.overlay_content {
	clear:both;	
	/* border: 1px dotted #D3D3D3; */
}

.overlay_footer {
	clear:both;	
	margin-top:15px;
	margin-right: 30px;
	/* border-top: 1px dotted #000000; */ 
}

