/*body {
    color: #333;
    background: #FFFFFF;
    font-size: 13px;
    font-family: arial,sans-serif;
} */

/*.banner {
    float:center; text-align:center; background: #000000;
}*/

/*.footer {
    color: #999;
}*/

.panel {
    background: #e8ddcf; 
    border: 1px solid #7d5f45; 
    text-align:center; 
    padding:6px;
    margin:10px auto; 
}

.button {
    background: #7d5f45; 
    padding: 3px 5px; 
    color: #FFFFFF; border: 1px solid #7d5f45; 
    border-color: #7d5f45 #838943 #7d5f45 #838943;
    font-weight: bold;
}

.myerror { text-align: center; color: #FF0000; }

.strong {
    font-weight: bold;
    color: #666;
}

h1 { text-align: center; font-size:20px; font-weight: normal; color:#7d5f45; }
h2 { text-align: left; font-size:14px; font-weight: bold; color:#7d5f45; }
h3 { text-align: left; font-size:13px; font-weight: bold; color:#7d5f45; }

table {
    border-collapse: collapse;
    border-color: #ccc;
    margin-bottom: 0px;
    padding: 0px;
}

td, th {
    font-size: 12px;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    vertical-align:text-top;
}

.right_text { text-align: right; }
	
.left_text { text-align:left; }

.center_text { text-align: center }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

/* a:link { color: #0066CC; } */

/*
a:visited { color: #0066CC;}
*/

.tabitem {
    margin-right: 10px;
    font-size: 14px;
}

.openidlink {
    padding-left: 10px; padding-right: 10px; padding-bottom: 8px; padding-top: 2px;
    background: url('../images/openid16.png') 0 .2em no-repeat;
}