
.temporal-search-button {
	font-size: 1.2em;
	border: 1px solid #9c9c9c;
	background: #CCFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 30px;
	margin-top:20px;
	cursor: pointer;
	float:right
	
}

.temporal-search-button:hover {
	background: #00FF00;
}

#tButton {
	float:right;
	margin-right: 30px;	
}

#temporal_range_title {
	
	font-size: 11pt;
	padding: 10px;	
	width: 80px;
	margin-left: 10px;
	background:  #88ACE0;
	color: black;
	border: 1px solid #000;
}

#temporal_content1
{
	padding-top: 20px;
	padding-left:20px;
	padding:10px;
	padding-bottom:50px;
	font-weight:bold;
	font-size: 14px;
}

#from, #to
{
	margin-left: 10px;
	margin-right: 5px;
}


#temporal_helper {
	background: green
}




/* --------------------------------
    Calendar Style
   --------------------------------
 */


#calendar_canvas {
	float: left;
	height: 200px;
	width: 400px;
	padding: 10px;
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

#calendar_info {
	position: absolute;
	margin-left: 420px;
	padding: 10px;
	float: right;
	width: 200px;
	height: 400px;
	border-top: 2px solid #666;
    border-bottom: 2px solid #666;    	
	border-right: 2px solid #666;
}

#c_fieldset {
	background: #FFE8EF;
	width: 350px;
	margin-bottom: 10px;
	margin-left:10px;
	
}

#d_fieldset {
	
	background: #FFFFFF;
	width: 250px;
	border-color: white;
	margin-left:20px;
}


/* \*/
* html #tlc1, * html #trc1 {height: 1%;}
/* */

#tlc1, #trc1 { zoom: 1 }

#time_range
{
	margin-top:10px;
}

#temporalbox
{
	float: left;
	width: 425px;
	background-color: #eeeeee;
	margin-bottom: 30px;
}

#temporal_content1
{
	padding-top: 20px;
	padding-left:20px;
	padding:10px;
	padding-bottom:50px;
	font-weight:bold;
}

#temporal_content1 h1 {
	color:#0354c2;
	font-weight: bold;
	font-size: 1.2em;
	font-family: helvetica, geneva, arial, sans-serif;
}
	
#temporal_content1 h2 {
	color:black;
	font-weight: bold;
	font-size: 18px;
	font-family: helvetica, geneva, arial, sans-serif;
}
		
		
#temporal_content1 p {
	color:#3b3b3b;
	font-size: 1em;
	line-height: 1.3em;
	font-family: arial, helvetica, sans-serif;
}
	
#monthlist1 {
	position:relative;
	padding-top:5px;
	padding-left:25px;
	float:left;
	width: 150px;
	height:100px;
}

#timelist1 {
	position:relative;
	float:right;
	padding-top:5px;
	padding-right:25px;
	width: 150px;
	height:100px;
}

.temporallistmultiple1 {
	width: 125px;
	border-right: 2px solid #666;
}




/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border 
*/

#tlc, #trc, #blc, #brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

#tlc
	{
	background-image:url(../images/temporal_overlay/tlc.gif);
	background-position: 0% 0%;
	}

#trc
	{
	background-image:url(../images/temporal_overlay/trc.gif);
	background-position: 100% 0%;
	}
	
#blc
	{
	background-image:url(../images/temporal_overlay/blc.gif);
	background-position: 0% 100%;
	}

#brc
	{
	background-image:url(../images/temporal_overlay/brc.gif);
	background-position: 100% 100%;
	}

#tb, #bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}
			
#tb
	{
	background-image:url(../images/temporal_overlay/tb.gif);
	background-position: 0% 0%;
	}

#bb
	{
	background-image:url(../images/temporal_overlay/bb.gif);
	background-position: 50% 100%;
	}
	
#rb
	{
	background-image:url(../images/temporal_overlay/r.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

#lb
	{
	background-image:url(../images/temporal_overlay/l.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
			
