	
/*	not used...yet
	#toggleMenu {
	    padding: 0px 0px 0px 0px; 
	    margin: 15px 0px 30px 0px;
	    clear: left;
	    float: left; 
	    width: 220px;
	    text-align: left;
	}
	
	#toggleMenu h4 {
	    background: #aaa;
	    border: 1px solid #EEEEEE;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -khtml-border-radius: 4px;
	    border-radius: 4px;
	    margin: 4px 0px 0px 0px;
	    padding: 0px 0px 0px 23px;
	    line-height: 32px; 
	    font-weight: normal;
	    white-space: nowrap;
	    text-decoration: none; 
	    color: #696969;
	    cursor:pointer;
	    font-size: 13px;
	}
	.togglebox {
	    -moz-border-radius-bottomleft: 4px;
	    -moz-border-radius-bottomright: 4px;
	    -webkit-border-bottom-left-radius: 4px;
	    -webkit-border-bottom-right-radius: 4px;
	    -khtml-border-radius-bottomleft: 4px;
	    -khtml-border-radius-bottomright: 4px;
	    border-bottom-right-radius: 4px;
	    border-bottom-left-radius: 4px;
	    overflow: hidden;
	    clear: both;
	    padding: 0px 0px 0px 0px; 
	    margin: 0px 0px 0px 0px;
	    border-bottom: 1px solid #EEEEEE;
	    border-left: 1px solid #EEEEEE;
	    border-right: 1px solid #EEEEEE;
	    background: #FFFFFF;
	}
	
	
	.togglebox .block {
    padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;
}


.togglebox .block ul {
    list-style: none;
    padding: 5px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.togglebox .block ul li {
    font-size: 11px;
    line-height: 20px;
    height: 20px;   
    padding: 0px 0px 0px 45px;
    margin: 0px 0px 0px 0px;
}

.togglebox .block ul li a {
    color: #006996;
    text-decoration: none;
}

.togglebox .block ul li a:hover {
    color: #0088B5;
    text-decoration: underline;
}
*/

/* used */
/* table tbody tr:hover { background: #aaa; } */

.adminbutton {
	font-size: 13px;
	color: white;
	border: 1px solid #9c9c9c;
	background: #838943;
	cursor: pointer;
}
	
.formLabels {
	font-size: 12px;
	margin-right:10px;
	margin-left:15px;
}

text {
	font-size: 12px;
	}

/* Overlay */

/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	/* background-color:#333; */
	background-color:#fff;
	
	width:475px;	
	min-height:400px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/metadata_overlay/close.png); 
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}


