/* search form on the home page */
/*
.searchformcontainer {
	float: left;
	height:35px;
	margin:10px 10px 5px 10px; 	
}

.search-field {
	float: left;
	background-color:#FFFFFF;
	background: url(../images/search_bg.jpg) top left;
	height: 35px;
	line-height:35px;
	background: url(../images/search_bg.jpg) top left; 
	width: 204px;
	line-height:35px;
	font-size: 13px;	
	color: #333333;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	border: none;
}

.searchform {
	float: left;
}
.search-btn {
	float: left;
	width: 52px;	
	height: 35px;
}
*/
